<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>676401471813-24irr344vag9bf0qk8m3jvo5k1jfpl9g.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.676401471813-24irr344vag9bf0qk8m3jvo5k1jfpl9g</string>
	<key>API_KEY</key>
	<string>AIzaSyByNImN0Ri6lcxEwIBSvRi6fZiIeIB-Ni4</string>
	<key>GCM_SENDER_ID</key>
	<string>676401471813</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mayholm.Bestfriends</string>
	<key>PROJECT_ID</key>
	<string>bestfriends-8422d</string>
	<key>STORAGE_BUCKET</key>
	<string>bestfriends-8422d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:676401471813:ios:062f583bf0820521</string>
	<key>DATABASE_URL</key>
	<string>https://bestfriends-8422d.firebaseio.com</string>
</dict>
</plist>